#form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    text-align: center;
}

.contents {
    display: inline-block;
}

.form-control {
    width: 400px;
    margin: auto auto;
}

.form-time {
    width: 200px;
    display: inline;
}
